#login {
  background: #011827;
  .loginForm {
    height: 330px;
    background: #ffffff;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    form {
      input {
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px 6px 0px 0px;
        width: 292px;
        height: 42px;
        padding: 9px 13px;
        border: 1px solid rgb(0 0 0 / 22%);
        @screen sm {
          width: 352px;
        }
      }
      .email {
        border-radius: 6px;
      }
      .pass {
        border-radius: 6px;
      }

      .btn {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        color: white;
        align-items: center;
        width: 292px;
        height: 44px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        p {
          margin-left: auto;
          margin-right: auto;
        }
        @screen sm {
          width: 352px;
        }
      }

      // .btn::before {
      //   content: url(../../assets/lock.svg);
      //   transform: translateX(15px);
      // }
    }
  }
}
