@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./pages/login.scss";
@import "./components/navbar.scss";
@import "./components/users-list.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background: #011827;
}

.custom-ui {
  background: #ffffff !important;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  width: 324px;
  height: 134px;
  padding: 24px;
  gap: 16px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #221f20;
    padding-bottom: 24px;
  }

  .signout-btn {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 1px solid #ed5e62;
    padding: 9px 17px;
    color: #e7282d;
    width: 100px;
    height: 38px;
    font-size: 14px;
  }
  .cancels-btn {
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 9px 17px;
    color: #000;
    margin-left: 10px;
    width: 100px;
    height: 38px;
  }
}

.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.4) !important;
}
